In [1]:
import pandas as pd

In [2]:
beer_reviews = pd.read_csv('beer_reviews.csv')
beer_reviews

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586609,14359,The Defiant Brewing Company,1162684892,5.0,4.0,3.5,maddogruss,Pumpkin Ale,4.0,4.0,The Horseman's Ale,5.2,33061
1586610,14359,The Defiant Brewing Company,1161048566,4.0,5.0,2.5,yelterdow,Pumpkin Ale,2.0,4.0,The Horseman's Ale,5.2,33061
1586611,14359,The Defiant Brewing Company,1160702513,4.5,3.5,3.0,TongoRad,Pumpkin Ale,3.5,4.0,The Horseman's Ale,5.2,33061
1586612,14359,The Defiant Brewing Company,1160023044,4.0,4.5,4.5,dherling,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061
1586613,14359,The Defiant Brewing Company,1160005319,5.0,4.5,4.5,cbl2,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061

In [3]:
beer_review_ave = beer_reviews.groupby(['beer_beerid']).mean()
beer_review_ave

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
beer_beerid,,,,,,,,
3,2.0,1.034934e+09,4.166667,4.000000,3.833333,4.166667,4.166667,NaN
4,2.0,1.065482e+09,3.700000,3.800000,3.950000,3.700000,3.450000,NaN
5,3.0,1.192080e+09,3.549528,3.205189,3.485849,3.318396,3.340802,4.5
6,3.0,1.196812e+09,3.706956,3.515964,3.836374,3.513113,3.645382,5.6
7,3.0,1.201470e+09,3.266313,3.179059,3.251138,3.106980,3.101669,4.2
...,...,...,...,...,...,...,...,...
77313,185.0,1.326236e+09,3.000000,3.000000,4.000000,3.000000,3.000000,4.7
77314,18604.0,1.326237e+09,3.500000,3.500000,4.000000,3.000000,4.000000,4.7
77315,27839.0,1.326239e+09,3.500000,4.500000,3.000000,3.000000,3.500000,5.2
77316,20330.0,1.326252e+09,3.500000,3.500000,3.500000,3.500000,3.500000,7.8
77317,96.0,1.326252e+09,3.500000,3.500000,4.000000,3.500000,4.000000,NaN

In [5]:
beer_review_ave.to_csv('beer_review_ave.csv')